// app global css in SCSS form
body,
html,
#q-app {
  font-family: 'Vazirmatn', sans-serif;
}
body {
  background-color: #f5f5f5;
}

/* RTL Support */
body,
html,
#q-app {
  direction: rtl;
}
.q-table th {
  text-align: center;
  background-color: #e3f2fd;
  font-size: 15px;
}
.bg-grey-1 {
  background-color: #e3f2fd !important;
}
.q-table__container > div:last-child {
  direction: ltr;
}
.q-table tbody td {
  text-align: center;
  font-size: 14px;
}
.q-card {
  border: solid;
  border-color: #1976d2;
  font-family: Vazirmatn, serif;
}